{{!------------------------------
To add a new social icon simply duplicate one of the list items from below
and change the class in the <i> tag to match the desired social network
and then add your link to the <a>. Here is a full list of social network
classes that you can use:

    icon-social-500px
    icon-social-behance
    icon-social-delicious
    icon-social-designer-news
    icon-social-deviant-art
    icon-social-digg
    icon-social-dribbble
    icon-social-facebook
    icon-social-flickr
    icon-social-forrst
    icon-social-foursquare
    icon-social-github
    icon-social-google-plus
    icon-social-hi5
    icon-social-instagram
    icon-social-lastfm
    icon-social-linkedin
    icon-social-medium
    icon-social-myspace
    icon-social-path
    icon-social-pinterest
    icon-social-rdio
    icon-social-reddit
    icon-social-skype
    icon-social-spotify
    icon-social-stack-overflow
    icon-social-steam
    icon-social-stumbleupon
    icon-social-treehouse
    icon-social-tumblr
    icon-social-twitter
    icon-social-vimeo
    icon-social-xbox
    icon-social-yelp
    icon-social-youtube
    icon-social-zerply
    icon-mail

--------------------------------}}

<nav class="cover-navigation navigation--social">
  <ul class="navigation">


  <!-- Twitter -->
  <li class="navigation__item">
    <a href="http://twitter.com/soniaupp" title="@SoniaUppal on Twitter">
      <i class='icon icon-social-twitter'></i>
      <span class="label">Twitter</span>
    </a>
  </li>

    <!-- Facebook -->
    <li class="navigation__item">
      <a href="http://facebook.com" title="Pi à la code on Facebook">
        <i class='icon icon-social-facebook'></i>
        <span class="label">Facebook</span>
      </a>
    </li>

    <!-- Email -->
    <li class="navigation__item">
      <a href="mailto:sonia9uppal@gmail.com" title="Email sonia9uppal@gmail.com">
        <i class='icon icon-mail'></i>
        <span class="label">Email</span>
      </a>
    </li>
    
    <!-- LinkedIn -->
    <li class="navigation__item">
      <a href="http://www.linkedin.com/pub/sonia-uppal/91/44/a1/" title="Sonia Uppal on LinkedIn">
        <i class='icon icon-linkedin'></i>
        <span class="label">LinkedIn</span>
      </a>
    </li>
    
    <!-- GitHub -->
    <li class="navigation__item">
      <a href="https://github.com/sonia9uppal" title="Sonia Uppal on GitHub">
        <i class='icon icon-github'></i>
        <span class="label">GitHub</span>
      </a>
    </li>
    
    <!-- Stack Overflow -->
    <li class="navigation__item">
      <a href="http://stackoverflow.com/users/3525841/soniaup" title="Sonia Uppal on Stack Overflow">
        <i class='icon icon-stack-overflow'></i>
        <span class="label">Stack Overflow</span>
      </a>
    </li>


  </ul>
</nav>
